.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 428px;
  padding: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

.login-header {
  font-size: 36px;
  font-weight: 700;
  color: #0a3aa3;
  line-height: 1.2;
  text-align: center;
  margin: 16px 0;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 8px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6px;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-label {
  font-size: 14px;
  font-weight: 500;
  color: #0a3aa3;
  align-self: flex-start;
}

.login-input {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #0a3aa3;
  border-radius: 3px;
  color: #0a3aa3;
  font-size: 14px;
  transition: border 0.2s;

  &::placeholder {
    color: #c2edff;
  }

  &:focus {
    outline: none;
    border: 5px solid #0a3aa3;
    border-radius: 10px;
    padding: 4px;
  }
}

.login-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #0a3aa3;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #0a3aa3;
  color: #fff;
  outline: none;

  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
  }

  &:hover {
    background-color: #c2edff;
    color: #0a3aa3;
  }

  &--disabled {
    background-color: #b7c1d5;
    cursor: not-allowed;
    border: 2px solid #b7c1d5;

    &:hover {
      background-color: #b7c1d5;
      color: #fff;
    }
  }
}
