.toast {
  border-radius: 12px;
  background-color: #0a3aa3;
  max-width: 328px;
  border-radius: 6px;
  overflow: hidden;

  &--danger {
    background-color: #f7128e;
  }

  &__content {
    padding: 18px;
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 12px;
    &__header {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
      }

      &__close {
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
